.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-main {
  margin: 0;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  font-weight: 300;
  color: @gray-blue;

  &--light {
    color: @white;
  }
}

.button {
  text-align: center;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  text-decoration: none;
  color: @white;
  border: 3px solid @white;
  border-radius: 29px;
  padding: 18px 35px;

  &--submit {
    color: @white;
    background-color: @green;
  }

  &--colored {
    color: @pink;
  }
}

// .control-button {

// }

.wrapper {
  width: 100%;
  padding: 0 @content-padding;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    max-width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
