.card {
  &--item-main {
    width: 100%;
    padding: 0;
  }
}

.card__photo {
  width: 100%;
}

// .card__user {

// }

.card__name {
  font-weight: 700;
}

.card__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

// .card__text {

// }

.card__like {
  color: @pink;
  text-transform: uppercase;
}
