.contacts {
  padding: 50px 0 30px 0;

  @media (min-width: @tablet-width) {
    padding: 55px 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 0 15px  0;
  }
}

.contacts__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;

  .normalize-list();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: no-wrap;
  }
}

.contacts__item {
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    flex-grow: 0.5;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    margin: 0;
  }

  &--main {
    order: 3;
    margin: 0;

    @media (min-width: @tablet-width) {
      flex-grow: 1;
    }

    @media (min-width: @desktop-width) {
      order: 0;
    }
  }
}

.contacts__caption {
  margin: 0 0 12px 0;
  font-size: 18px;
  font-weight: 700;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  line-height: 32.68px;
  color: @pink;

  &--mail {
    &:hover {
      color: @gray-blue;
      text-decoration: underline;
    }

    &:active {
      color: fade(@gray-blue, 30%);
      text-decoration: none;
    }
  }
}
