.copyright {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.copyright__text {
  line-height: 18px;
  margin-right: 15px;
}

.copyright__link {
  cursor: pointer;
  color: @pink;
  position: relative;
  top: 3px;

  &:visited {
    color: @pink;
  }

  &:hover {
    color: @gray-blue;
  }

  &:active {
    color: fade(@gray-blue, 30%);
  }
}
