.downloads {
  background-color: @dark-blue;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.downloads__wrapper {
  padding: 28px 20px;
}

.downloads__list {
  .normalize-list();
}

// .downloads__item {

// }

.downloads__info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white;
  font-weight: 300;
}
