.downloads {
  background-color: @dark-blue;
  padding: 28px 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: transparent;
    bottom: 120px;
    left: 20px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: transparent;
    bottom: 120px;
    left: 10.8%;
  }
}

.downloads__wrapper {
  @media (min-width: @tablet-width) {
    width: 300px;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.downloads__list {
  .normalize-list();
}

// .downloads__item {

// }

.downloads__info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white;
  font-weight: 300;
}
