.features {
  background-color: @light-gray;
}

.features__slogan {
  background-color: @white;
  padding: 46px 0 36px 0;

  @media (min-width: @tablet-width) {
    padding: 58px 0 47px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 0 72px 0;
  }
}

.features__slogan-text {
  @media (max-width: @mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.features__list {
  .normalize-list();
  padding: 87px 0 368px 0;
  background-image: url("../../img/features-phone.png");
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 80px 0 235px 310px;
    background-image: url("../../img/features-phone-tablet.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 6px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    padding: 6px 24px 60px 24px;
  }
}

.features__item {
  text-align: left;

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @light-gray;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 300px;

    &:not(:last-child) {
      margin: 0 68px 0 0;
    }

    &--phone {
      &_1 {
        background-image: url("../../img/feature-phone-1.png");
      }

      &_2 {
        background-image: url("../../img/feature-phone-2.png");
      }

      &_3 {
        background-image: url("../../img/feature-phone-3.png");
      }
    }
  }
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 24px 0;

  @media (min-width: @desktop-width) {
    background-color: @light-gray;
    font-size: 30px;
    line-height: 30px;
    padding-top: 60px;
    margin: 0 0 35px 0;
  }
}

.features__text {
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;

    &--with-margin {
      margin-bottom: 47px;
    }
  }
}

.features__main-container {
  background-color: @white;
  margin-top: -235px;

  @media (min-width: @desktop-width) {
    background-color: transparent;
    margin: 0;
  }
}

.features__main {
  display: none;
  position: relative;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 102px 0 26px 310px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 36px 120px 370px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/timer.svg");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: bottom left;

    @media (min-width: @desktop-width) {
      background-size: 298px 345px;
      background-position: 0 17px;
    }
  }
}

// .features__data {

// }


.features__title-main {
  margin: 0 0 24px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.features__link {
  color: @pink;
}
