// .features {

// }

.features__wrapper {
  padding: 20px 48px;
}

.features__list {
  .normalize-list();
}

.features__item {
  text-align: center;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
}

// .features__text {

// }

.features__main {
  display: none;
}

.features__title-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.features__link {
  color: @pink;
}
