// .filter {
// }

.filter__text {
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 42px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-top: 65px;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.filter__container {
  background-color: @light-gray;
}

.filter__wrapper {
  padding: 20px 0 40px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 57px 13px 54px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 60px 57px 80px;
  }
}

// .filter__photo {

// }

// .filter__slider-container {

// }

// .filter__controls {

// }

// .filter__slider {

// }

// .filter__control {

// }

// .filter__buttons {

// }
