// .form {
// }

.form__main-data {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: @desktop-width;
    padding: 0 @content-padding;
    margin: 0 auto;
  }
}

.form__container {
  padding: 42px 0;

  &--highlighted {
    background-color: @light-gray;

    @media (min-width: @tablet-width) {
      background-color: transparent;
    }
  }

  &--first {
    order: 1;

    @media (min-width: @tablet-width) {
      order: 0;
    }
  }

  &--small {
    @media (min-width: @desktop-width) {
      flex-grow: 0.5;
    }
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__fieldset-wrapper {
  @media (min-width: @desktop-width) {
    width: auto;
    padding: 0;
  }
}

.form__label {
  color: @pink;
  text-transform: uppercase;

  &--normal {
    color: @gray-blue;
    text-transform: none;
    font-size: 18px;
  }
}

.form__input {
  font-size: 18px;
  font-family: inherit;

  &::placeholder {
    color: @gray-blue;
  }
}

.form__legend {
  color: @pink;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.form__textarea {
  font-size: 18px;
  font-family: inherit;

  &::placeholder {
    color: @gray-blue;
  }
}

.form__warning {
  text-transform: uppercase;
  margin: 0;

  & span {
    color: @pink;
  }
}
