.form-container {
  padding-bottom: 26px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form-container__text {
  margin: 0;
  text-align: center;
  padding-top: 46px;

  & span {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 94px 65px 76px 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 83px;
  }
}
