// .gallery {
// }

.gallery__slogan {
  line-height: 30px;
  padding-top: 44px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  white-space: pre-line;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 92px 30px 76px 30px;
    white-space: normal;
  }

  @media (min-width: @desktop-width) {
    padding: 92px 184px 88px 184px;
  }
}

.gallery__list {
  .normalize-list();
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 20px;
  }
}

.gallery__item {
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
