// .gallery {
// }

.gallery__slogan {
  padding-top: 54px;
  padding-bottom: 60px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 97px;
  }
}

.gallery__list {
  .normalize-list();
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 20px;
  }
}

.gallery__item {
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
