.modal {
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
}
