.page-footer {
  flex-shrink: 0;
  padding: 40px 0;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo-icon {
  &:hover path:nth-child(-n+5) {
    fill: @pink;
  }

  &:active path:nth-child(-n+5) {
    fill: fade(@gray-blue, 30%);
  }
  @media (min-width: @desktop-width) {
    display: none;
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
