.page-footer {
  flex-shrink: 0;
  padding: 40px 0;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}
