.prices {
  line-height: 30px;
  padding: 83px 0 49px 0;
}

.prices__container {
  overflow: hidden;
}

.prices__list {
  .normalize-list();
  width: calc(100% * 3);
  display: flex;
}

.prices__item {
  width: 100%;

  &--with-empty {
    display: none;
  }
}

.prices__info {
  background-color: @gray-blue;
  color: @white;
  text-align: center;
}

// .prices__option-name {

// }

.prices__name {
  font-size: 16px;
  font-weight: 700;
}

.prices__cost {
  font-size: 18px;
  font-weight: 300;
}

// .prices__option {

// }

// .prices__controls {

// }
