.prices {
  line-height: 30px;
}

.prices__wrapper {
  padding: 83px 20px 49px 20px;
}

.prices__list {
  .normalize-list();
}

.prices__item {

}

.prices__info {
  background-color: @gray-blue;
  color: @white;
  text-align: center;
}

.prices__option-name {

}

.prices__name {
  font-size: 16px;
  font-weight: 700;
}

.prices__cost {
  font-size: 18px;
  font-weight: 300;
}

.prices__option {

}

.prices__controls {

}
