// .promo {

// }

.promo__header {
  height: 237px;
  padding: 29px 20px 38px 20px;
  background: url("../../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &--with-phone {
    height: 462px;
    background: url("../../img/phone.png"), url("../../img/screen.jpg"), url("../../img/back-desktop.jpg");
    background-position: bottom left, 40% 83%, center center;
    background-size: auto, auto, cover;
    background-repeat: no-repeat;
  }
}
