.promo {
  position: relative;
}

.promo__header {
  min-height: 237px;
  background: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
    min-height: 440px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    background-image: url("../../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }
  }
}

.promo__wrapper {
  height: 100%;
  background: url("../../img/phone.png");
  background-position: bottom left;
  background-size: auto;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/phone@2x.png");
    background-size: 320px 286px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/phone-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-tablet@2x.png");
      background-size: 660px 545px;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/phone-desktop.png");
    background-position: bottom 0 right -106px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-desktop@2x.png");
      background-size: 1050px 645px;
    }
  }
}

.promo__title {
  padding-top: 90px;
  padding-bottom: 314px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-top: 204px;
    padding-bottom: 381px;
    padding-right: 320px;
    white-space: pre-line;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 209px;
    padding-bottom: 440px;
    padding-right: 640px;
  }

  &--wide {
    padding-top: 95px;
    padding-bottom: 50px;
    line-height: 32.68px;

    @media (min-width: @tablet-width) {
      padding-top: 176px;
      padding-bottom: 74px;
      padding-right: 0;
      font-size: 50px;
      line-height: 68.09px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 184px;
      padding-bottom: 104px;
      padding-right: 0;
    }
  }
}
