.reviews {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 72px;
    padding-bottom: 40px;
  }
}

.reviews__list {
  .normalize-list();
}

.reviews__item {
  text-align: center;
  line-height: 30px;
}

// .reviews__author {

// }

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
}

.reviews__author-meta {
  display: none;
}

// .reviews__text {

// }

// .reviews__controls {

// }
