.reviews {

}

.reviews__wrapper {
  padding: 50px 20px 60px 20px;
}

.reviews__list {
  .normalize-list();
}

.reviews__item {
  text-align: center;
  line-height: 30px;
}

.reviews__author {

}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
}

.reviews__author-meta {
  display: none;
}

.reviews__text {

}

.reviews__controls {

}
